
snippet dbg "logger.debug()" b
logger.debug("${1}"${2: + ${3}})${0}
endsnippet

snippet err "logger.error()" b
logger.error("${1}"${2: + ${3}})${0}
endsnippet

snippet wrn "logger.warning()" b
logger.warning("${1}"${2: + ${3}})${0}
endsnippet

snippet inf "logger.info()" b
logger.info("${1}"${2: + ${3}})${0}
endsnippet
