
# Functions
snippet fng "fn name<T>(?) -> ? {}"
fn ${1:function_name}<T>($2)${3/..*/ -> /}${3:&T} {
	${VISUAL}$0
}
endsnippet

# snippet implg "Struct/Trait Generic implementation" b
# impl<T> ${1:Type/Trait}<T>${2: for ${3:Type}}${4:<${5:T}>} {
# 	${0}
# }
# endsnippet
